<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
    <add key="deveroom-dependencies" value="https://www.myget.org/F/deveroom-dependencies/api/v3/index.json" />
		<add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>