<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SpecFlow" version="3.0.225" />
  <package id="SpecFlow" version="3.1.97" />
  <package id="SpecFlow" version="3.3.74" />
  <package id="SpecFlow" version="3.4.31" />
  <package id="SpecFlow" version="3.5.14" />
  <package id="SpecFlow" version="3.6.23" />
  <package id="SpecFlow" version="3.7.13" />
  <package id="SpecFlow" version="3.8.14" />
  <package id="SpecFlow" version="3.9.08" />
  <package id="SpecFlow" version="3.9.22" />
  <package id="SpecFlow" version="3.9.40" />
  <package id="SpecFlow.MsTest" version="3.8.14" />
</packages>
